node_modules
.DS_Store
dist
.arts
dist-ssr
*.local
.history

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

stats.html
pnpm-lock.yaml
package-lock.json
.stylelintcache
.eslintcache
.arts
.workbuddy
.idea
.codegraph
